/Cuadros tesis version final Rasshomon.xlsx
/Dar de baja doctorado
/Documento T.lnk
/experimentos_final_corregido_v10 - copia_01042025.ipynb
/experimentos_final_corregido_v10.1.ipynb
/experimentos_heartD_final_v11 - 2_20250402.ipynb
/Fontur
/heart.csv
/main.py
/output.png
/output_bien.png
/rashomon_model_results_heartDisease.csv
/rashomon_pareto_models.csv
/rashomon_summary.csv
/Scopus.pdf
/tree_100
/tree_100.pdf
/tree_100.png
/tree_33
/tree_33.pdf
/tree_33.png
/tree_66
/tree_66.pdf
/tree_66.png
/WOS.pdf